body{
	background-color: white;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

div.thanks{
	background-color: #cff4fb;
	border: 5px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	}

h1.col-xs-12.heading{
	margin-bottom: 30px;
	font-family: 'Tauri', sans-serif;
}
	

div.col-xs-12.col-lg-10.col-lg-offset-1.contact{
	background-image: url('background.jpg');
	padding: 20px;
	border: 5px solid black;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	font-family: 'Tauri', sans-serif;

}

input.btn.btn-primary.btn-lg:hover{
	background-color: #cff4fb;
	}

input.btn.btn-primary.btn-lg{
	background-color: white;
	color: black;
	padding: 10px;
	margin-top: 50px;
	border: 2px solid black;
	font-family: 'Tauri', sans-serif;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.19);

}


	

p{
	font-size: 1.5em;
	margin-top: 30px;

}

div.thanks{

	padding: 50px;
	margin: 50px;

}

a.btn.btn-primary.btn-lg:hover{
background-color: #cff4fb;
}

a.btn.btn-primary.btn-lg{
	background-color: white;
	color: black;
	padding: 10px;
	margin-top: 50px;
	border: 2px solid black;
	font-family: 'Tauri', sans-serif;
	box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.19);

	}
}


